@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Ubuntu"),
        /* Если не получилось, загрузит woff2 */
        url("/fonts/Ubuntu-Regular.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("/fonts/Ubuntu-Regular.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    src: local("Ubuntu"),
        url("/fonts/Ubuntu-Medium.woff2") format("woff2"),
        url("/fonts/Ubuntu-Medium.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: local("Ubuntu"),
        url("/fonts/Ubuntu-Bold.woff2") format("woff2"),
        url("/fonts/Ubuntu-Bold.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("Rubik"),
        url("/fonts/Rubik-Regular.woff2") format("woff2"),
        url("/fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: local("Rubik"),
        url("/fonts/Rubik-Medium.woff2") format("woff2"),
        url("/fonts/Rubik-Medium.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Sans"),
        url("/fonts/NunitoSans-Regular.woff2") format("woff2"),
        url("/fonts/NunitoSans-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background: #F5F4FF;
}

.wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* header */

.section-header {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: auto 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #B4387A;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.navbar__list {
    display: flex;
    list-style-type: none;

}

.navbar__item:not(:last-child) {
    margin-right: 40px;
}

.navbar__link {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 10px 0 10px 0;
    display: inline-block;
    text-decoration: none;
    color: rgba(29, 25, 41, 1);
}

.btn {

    cursor: pointer;
    appearance: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 16px;
    padding: 16px;
    font-size: 16px;
    background: rgba(0, 60, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.btn-hero {
    margin-top: 36px;
}

.section-hero {
    margin-top: 132px;
    display: flex;
    justify-content: space-between;
}

.h1-hero {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    max-width: 609px;
    font-size: 48px;
}

.section-features {
    margin-top: 186px;
    display: flex;
    justify-content: space-between;
}

.hero-cards__image-adaptive {
    display: none;
}

.features-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 35px;
    line-height: 50px;
}

.features-paragraph {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 20px 0 0 0;
    color: rgba(79, 86, 101, 1);
    font-size: 16px;
    line-height: 30px;
}

.features-list {
    margin-top: 25px;
}

.features-list__item {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: rgba(79, 86, 101, 1);
    list-style-type: none;
    margin: 10px 0 0 40px;
}

.features-list__item::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -45px;
    top: -2px;
    background-image: url(/img/good.png);
}

.section-exchange-rate {
    margin-top: 48.5px;
    border-radius: 28px;
    padding: 32px;
    background-image: linear-gradient(#F4F4F4, #B2B2B2);
    filter: drop-shadow(0.5px 0.5px #BBBBBB);
}

.exchange-rate-container {
    display: flex;
    justify-content: space-between;
}

.exchange-rate__title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
}

.exchange-rate__update {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
}

.section-exchange-rate__span {
    display: inline-block;
    margin-top: 24px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
}

.currency-container {
    display: flex;
    justify-content: space-between;
}

.currency-containe__list {

    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.currency-container__item {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.4px;
    margin-top: 32px;
    margin-right: 32px;
    color: #808080;
    list-style-type: none;
}

.currency-container__meaning {
    display: inline-block;
    margin-left: 20px;
    color: #000000
}

.section-exchange-rate__all {
    display: inline-block;
    margin-top: 51px;
    color: #FFFFFF;
    text-decoration: none;
}

.section-world-map {
    margin-top: 48px;
}

.h3-title {
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}

.paragraph {
    margin-top: 8px;
    color: #2D3748;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}

.world-map__figure {
    margin-top: 48px;
}

.world-map__image {
    display: block;
    margin: 0 auto;
}

.section-news-world {
    margin-top: 48px;
}

.news-world__slider {
    margin-top: 48px;
    position: relative;
}

.news-world__slider-container {
    display: flex;
    justify-content: space-between;
}

.news-world__card {
    width: 256px;
    max-width: 320px;
    min-height: 386px;
    padding: 32px;
    border: 1px solid #BBBBBB;
    border-radius: 28px;
    box-shadow: -2px 2px -2px -2px #00000033;
}

.news-world__title-card {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-align: center;
}

.news-world__title-card {
    margin-top: 32px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.news-world__paragraph-card {
    margin-top: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: #000000;
    line-height: 23px;
}

.news-world__card-small {
    width: 68px;
    max-width: 100px;
    padding-top: 32px;
    padding-left: 32px;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: -2px 2px -2px -2px #00000033;
}

.news-world__button {
    margin-top: 48px;
    position: absolute;
    right: 0;
}

.news-world__button-left {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    background-image: url(/img/Button-left.svg);
}

.news-world__button-right {
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: inline-block;
    background-image: url(/img/Button-right.svg);
}

.section-support {
    margin-top: 64px;
}

.section-support__support {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #EB801D;
    line-height: 35.38px;
    letter-spacing: 2%;
    display: block;
    text-align: center;
}

.section-support__subscribe {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    display: block;
    margin-top: 30px;
    color: #1C1C1E;
    font-size: 30px;
    letter-spacing: 2%;
    line-height: 44.22px;
    text-align: center;
}

.section-support__news {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    display: block;
    margin-top: 26.8px;
    font-size: 30px;
    line-height: 44.22px;
    text-align: center;
    letter-spacing: 2%;
}


.form-support {
    box-sizing: border-box;
    margin: 62px auto 98px auto;
    width: 524px;
    max-width: 550px;
    height: 89px;
    border-radius: 20px;
    max-height: 90px;
    background: #FFFFFF;
}

.text-field {
    position: relative;
}

.form-support__container {
    display: flex;
    padding: 20px 32px;
}

.text-field__input {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    width: 285px;
    max-width: 450px;
    height: 50px;
    background: #FFFFFF;
    border: none;
    font-size: 20px;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.text-field__input:focus {
    outline: none;
}

.text-field__span {
    position: absolute;
    left: 0;
    top: 15%;
    width: 27px;
    height: 37px;
    background-image: url(/img/email-form.svg);
    background-size: 27px 37px;
    background-repeat: no-repeat;
}

.c-button {
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    border: none;
    align-items: center;
    width: 162px;
    height: 45px;
    background: #686DF1;
    border-radius: 20px;
}

.c-button svg {
    display: inline-block;
    vertical-align: middle;
    fill: #fff;
    color: #FFFFFF;
    width: 23px;
    height: 26px;

    margin-right: 0.25rem;
}

.text-field__span-button {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    color: #FFFFFF;
    line-height: 20.3px;
}

.text-field__input::placeholder {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    margin-left: 30px;
    color: #9092B0;
}

.wrapper-footer {
    background: rgba(178, 178, 178, 0.2);
}

.footer {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.footer__hero {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.footer__hero-container {
    width: 100%;
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
}

.footer__tel {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.footer__mail {

    display: block;
    margin-top: 6px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 23.58px;
    color: rgba(45, 55, 72, 1);
    text-decoration: none;
}

.important-link {
    margin-top: 32px;
}

.important-link__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 32px;
}

.important-link__link {
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
}

.hr-footer {
    margin-top: 28px;
    color: rgba(255, 255, 255, 0.81);
    border: 2px solid rgba(255, 255, 255, 0.81);
}

.cookies-info {
    margin-top: 32px;
}

.cookies-info__paragraph {
    padding-bottom: 92px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(45, 55, 72, 1);

}

@media (min-width: 501px) and (max-width: 920px) {

    .wrapper {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo {
        text-align: center;
        display: block;
        margin: auto 0;
        font-size: 20px;
    }

    .nav {
        margin: auto 0;
        text-align: center;
    }

    .navbar__item {
        margin-right: 10px;
    }

    .navbar__item::not .navbar__link {
        font-size: 12px;
        margin-right: 8px;
    }

    .btn {
        font-size: 13px;
    }

    .navbar__item {
        margin-right: 30px;
    }

    .section-hero {
        margin: 0 auto;
        display: block;
    }

    .h1-hero {
        margin: 0 auto;
        font-size: 30px;
    }

    .btn-hero {
        display: block;
        margin: 25px auto 0 auto;
    }

    .hero-cards__image {
        margin: 25px auto 0 auto;
        display: block;
    }

    .exchange-rate__title {
        font-size: 24px;
    }

    .news-world__title {
        display: none;
    }

    .news-world__paragraph {
        display: none;
    }

    .features-titile {
        font-size: 16px;
    }

    .features-paragraph {
        font-size: 14px;
    }

    .features-list__item {
        font-size: 14px;
        margin: 15px 0 0 60px;
    }

    .man-img {
        max-width: 350px;
    }

    .exchange-rate-container {
        display: block;
    }

    .exchange-rate__update {
        display: block;
        text-align: center;
    }

    .world-map__image {
        max-width: 450px;
    }

    .news-world__slider-container {
        display: none;
    }

    .news-world__button {
        display: none;
    }

    .section-support__subscribe {
        font-size: 24px;
    }

    .section-support__news {
        font-size: 24px;
    }

    .form-support {
        max-width: 490px;
    }

    .text-field__input {
        max-width: 230px;
    }

    .footer__hero-container {
        margin-top: 30px;
    }

    .footer__tel {
        font-size: 20px;
    }

    .footer__mail {
        font-size: 14px;
    }

    .important-link__link {
        font-size: 14px;
    }

    .cookies-info__paragraph {
        font-size: 12px;
        padding-bottom: 22px;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .wrapper {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;
    }

    .logo {
        font-size: 14px;
        margin-right: 10px;
    }

    .nav {
        margin: auto 0;
    }

    .navbar__link {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
        padding: 5px;
    }

    .navbar__item:not(:last-child) {
        margin-right: 10px;
    }

    .section-hero {
        margin: 0 auto;
        display: block;
    }

    .h1-hero {
        margin: 0 auto;
        font-size: 24px;
        max-width: 300px;
    }

    .btn-hero {
        display: block;
        margin: 25px auto 0 auto;
    }

    .hero-cards__image {
        display: none;
    }

    .hero-cards__image-adaptive {
        display: block;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .exchange-rate__title {
        font-size: 18px;
    }

    .news-world__title {
        display: none;
    }

    .news-world__paragraph {
        display: none;
    }

    .section-features {
        margin-top: 20px;
    }

    .features-titile {
        font-size: 14px;
        text-align: center;
    }

    .features-paragraph {
        font-size: 14px;
        text-align: center;
    }

    .features-list__item {
        font-size: 14px;
        margin: 20px 0 0 30%;
    }

    .man-img {
        display: none;
    }

    .exchange-rate-container {
        display: block;
    }

    .bank-currency-img {
        display: none;
    }

    .exchange-rate__update {
        display: block;
        text-align: center;
    }

    .world-map__image {
        max-width: 320px;
    }

    .news-world__slider-container {
        display: none;
    }

    .news-world__button {
        display: none;
    }

    .section-support__subscribe {
        font-size: 20px;
    }

    .section-support__news {
        font-size: 20px;
    }

    .form-support {
        width: 100%;
    }

    .text-field__input {
        max-width: 170px;
    }

    .footer__hero-container {
        margin-top: 30px;
    }

    .footer__tel {
        font-size: 18px;
    }

    .footer__mail {
        font-size: 14px;
    }

    .important-link__link {
        font-size: 12px;
    }

    .cookies-info__paragraph {
        font-size: 12px;
        padding-bottom: 22px;
    }
}