@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Ubuntu"),
        /* Если не получилось, загрузит woff2 */
        url("/fonts/Ubuntu-Regular.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("/fonts/Ubuntu-Regular.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    src: local("Ubuntu"),
        url("/fonts/Ubuntu-Medium.woff2") format("woff2"),
        url("/fonts/Ubuntu-Medium.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: local("Ubuntu"),
        url("/fonts/Ubuntu-Bold.woff2") format("woff2"),
        url("/fonts/Ubuntu-Bold.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("Rubik"),
        url("/fonts/Rubik-Regular.woff2") format("woff2"),
        url("/fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: local("Rubik"),
        url("/fonts/Rubik-Medium.woff2") format("woff2"),
        url("/fonts/Rubik-Medium.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Sans"),
        url("/fonts/NunitoSans-Regular.woff2") format("woff2"),
        url("/fonts/NunitoSans-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background: #F5F4FF;
}

.wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* header */

.section-header {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: auto 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #B4387A;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.navbar__list {
    display: flex;
    list-style-type: none;

}

.navbar__item:not(:last-child) {
    margin-right: 40px;
}

.navbar__link {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 10px 0 10px 0;
    display: inline-block;
    text-decoration: none;
    color: rgba(29, 25, 41, 1);
}

.btn {

    cursor: pointer;
    appearance: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 16px;
    padding: 16px;
    font-size: 16px;
    background: rgba(0, 60, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.btn-hero {
    margin-top: 36px;
}

.section-hero {
    margin-top: 132px;
    display: flex;
    justify-content: space-between;
}

.h1-hero {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    max-width: 609px;
    font-size: 48px;
}

.section-features {
    margin-top: 186px;
    display: flex;
    justify-content: space-between;
}

.features-title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 35px;
    line-height: 50px;
}

.features-paragraph {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 20px 0 0 0;
    color: rgba(79, 86, 101, 1);
    font-size: 16px;
    line-height: 30px;
}

.features-list {
    margin-top: 25px;
}

.features-list__item {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: rgba(79, 86, 101, 1);
    list-style-type: none;
    margin: 10px 0 0 40px;
}

.features-list__item::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -45px;
    top: -2px;
    background-image: url(/img/good.png);
}

.section-exchange-rate {
    margin-top: 48.5px;
    border-radius: 28px;
    padding: 32px;
    background-image: linear-gradient(#F4F4F4, #B2B2B2);
    filter: drop-shadow(0.5px 0.5px #BBBBBB);
}

.exchange-rate-container {
    display: flex;
    justify-content: space-between;
}

.exchange-rate__title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
}

.exchange-rate__update {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
}

.section-exchange-rate__span {
    display: inline-block;
    margin-top: 24px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 50px;
}

.currency-container {
    display: flex;
    justify-content: space-between;
}

.currency-containe__list {

    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.currency-container__item {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.4px;
    margin-top: 32px;
    margin-right: 32px;
    color: #808080;
    list-style-type: none;
}

.currency-container__meaning {
    display: inline-block;
    margin-left: 20px;
    color: #000000
}

.section-exchange-rate__all {
    display: inline-block;
    margin-top: 51px;
    color: #FFFFFF;
    text-decoration: none;
}

.section-world-map {
    margin-top: 48px;
}

.h3-title {
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}

.paragraph {
    margin-top: 8px;
    color: #2D3748;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}

.world-map__figure {
    margin-top: 48px;
}

.world-map__image {
    display: block;
    margin: 0 auto;
}

.section-news-world {
    margin-top: 48px;
}

.news-world__slider {
    margin-top: 48px;
    position: relative;
}

.news-world__slider-container {
    display: flex;
    justify-content: space-between;
}

.news-world__card {
    width: 256px;
    max-width: 320px;
    min-height: 386px;
    padding: 32px;
    border: 1px solid #BBBBBB;
    border-radius: 28px;
    box-shadow: -2px 2px -2px -2px #00000033;
}

.news-world__title-card {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-align: center;
}

.news-world__title-card {
    margin-top: 32px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.news-world__paragraph-card {
    margin-top: 32px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: #000000;
    line-height: 23px;
}

.news-world__card-small {
    width: 68px;
    max-width: 100px;
    padding-top: 32px;
    padding-left: 32px;
    border-top: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: -2px 2px -2px -2px #00000033;
}

.news-world__button {
    margin-top: 48px;
    position: absolute;
    right: 0;
}

.news-world__button-left {
    width: 64px;
    height: 64px;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
    background-image: url(/img/Button-left.svg);
}

.news-world__button-right {
    width: 64px;
    height: 64px;
    cursor: pointer;
    display: inline-block;
    background-image: url(/img/Button-right.svg);
}