@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Ubuntu"),
        /* Если не получилось, загрузит woff2 */
        url("/fonts/Ubuntu-Regular.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("/fonts/Ubuntu-Regular.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    src: local("Ubuntu"),
        url("/fonts/Ubuntu-Medium.woff2") format("woff2"),
        url("/fonts/Ubuntu-Medium.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: local("Ubuntu"),
        url("/fonts/Ubuntu-Bold.woff2") format("woff2"),
        url("/fonts/Ubuntu-Bold.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("Rubik"),
        url("/fonts/Rubik-Regular.woff2") format("woff2"),
        url("/fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: local("Rubik"),
        url("/fonts/Rubik-Medium.woff2") format("woff2"),
        url("/fonts/Rubik-Medium.woff") format("woff");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Sans"),
        url("/fonts/NunitoSans-Regular.woff2") format("woff2"),
        url("/fonts/NunitoSans-Regular.woff") format("woff");
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background: #F5F4FF;
}

.wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* header */

.section-header {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    margin: auto 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #B4387A;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.navbar__list {
    display: flex;
    list-style-type: none;

}

.navbar__item:not(:last-child) {
    margin-right: 40px;
}

.navbar__link {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 10px 0 10px 0;
    display: inline-block;
    text-decoration: none;
    color: rgba(29, 25, 41, 1);
}

.btn {

    cursor: pointer;
    appearance: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 16px;
    padding: 16px;
    font-size: 16px;
    background: rgba(0, 60, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.btn-hero {
    margin-top: 36px;
}

.section-hero {
    margin-top: 132px;
    display: flex;
    justify-content: space-between;
}

.h1-hero {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    max-width: 609px;
    font-size: 48px;
}

.hero-cards {
    margin: 0;
    padding: 0;
}